{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load static %}

{% block content %}

<main>
    <div class="container wow fadeIn mb-5">
        <h2 class="my-5 h2 text-center">Formulario de pago</h2>
        <div class="row">

            <div class="card">
                <form method="POST" class="card-body">
                    {% csrf_token %}

                    <h4>Departamento para envío</h4>

                    <div class='hideable_shipping_form'>

                        {{ form.chosen_department }}

                        <br><br>
                        <p><u>Costos para envío</u></p>
                        <p><I><font size="2">1° precio: hasta 5 prendas<br>2° precio: a partir de 5 prendas<br>3°
                            precio: a partir de 10 prendas</font></I></p>
                        <ul style="list-style-type: circle;">
                            {% for name, value in department_prices %}
                            <!-- only increase price when more clothes are going to be shipped -->
                            <li id='{{ name }}'>{{ name }}: {{ value }} / {{value|add:10}} / {{value|add:20}} Bs.</li>
                            {% endfor %}
                        </ul>

                        <div class="row">
                            <div class="col">
                                <div class="form-floating mb-3">
                                    {{ form.nombre }}
                                    <label class="form-label">Nombre <font color="red">*</font></label>
                                    <div id="emailHelp" class="form-text">We'll never share your email with anyone
                                        else.
                                    </div>
                                </div>
                            </div>

                            <div class="col">
                                <div class="form-floating mb-3">
                                    {{ form.apellido }}
                                    <label class="form-label">Apellido <font color="red">*</font></label>
                                </div>
                            </div>
                        </div>

                        <div class="form-floating mb-3">
                            {{ form.phoneNumber }}
                            <label class="form-label">Número de teléfono <font color="red">*</font></label>
                            <div id="phoneHelp" class="form-text">Por favor solo dígitos, adelante puede estar un '+'
                                para el prefijo.
                            </div>
                        </div>


                        {%comment%}
                        <div class="md-form mb-5">
                            <input type='text' placeholder='1234 Main St' id='shipping_address'
                                   name='shipping_address' class='form-control'/>
                            <label for="shipping_address" class="">Address</label>
                        </div>

                        <div class="form-floating mb-3">
                            <input type="password" id="typePassword" class="form-control"/>
                            <label class="form-label" for="typePassword">Password input</label>
                        </div>
                        {%endcomment%}


                        {% include "order_snippet.html" %}

                        <hr class="mb-4">
                        <button type="submit" class="btn btn-primary btn-lg btn-block mb-5">
                            Reservar pedido en Ojos de Selva
                        </button>

                         <div class="container">
                            <h6>Código QR para pago</h6>
                            <div class="row">
                                <div class="col-auto shrink">
                                    <img src="{% static 'img/QR_pago.jpg' %}" alt="QR for payment" class="img-thumbnail"
                                         style="width: 100px;">
                                </div>
                                {%comment%}
                                class 'col-auto shrink' shrinks width of column based on content, 'my-auto' centers vertically
                                {%endcomment%}
                                <div class="col-auto shrink my-auto" style="padding: 0;">
                                    <a href="{% static 'img/QR_pago.jpg' %}" download='Pago Ojos de Selva'
                                       class="download-btn">Download QR
                                        <i class="fa fa-download"></i>
                                    </a>
                                </div>
                            </div>
                        </div>

                    </div>


                </form>

            </div>
        </div>

        </div>
</main>

{% endblock content %}

{% block extra_scripts %}
<script>
var hideable_shipping_form = $('.hideable_shipping_form');
var hideable_billing_form = $('.hideable_billing_form');

var use_default_shipping = document.querySelector("input[name=use_default_shipping]");
var use_default_billing = document.querySelector("input[name=use_default_billing]");

use_default_shipping.addEventListener('change', function() {
  if (this.checked) {
    hideable_shipping_form.hide();
  } else {
    hideable_shipping_form.show();
  }
})

use_default_billing.addEventListener('change', function() {
  if (this.checked) {
    hideable_billing_form.hide();
  } else {
    hideable_billing_form.show();
  }
})






</script>

<script>

       // wichtig fürs Verständnis
       // wir führen exakt die gleichen Befehle zweimal aus, einmal beim Laden der Seite und einmal bei Verändern des ausgewählten departments
       // Grund: in allen Fällen muss unten der richtige Preis mit den richtigen Versandkosten angezeigt werden

       $(document).ready(function(){

            const selected_department = $("#id_chosen_department :selected").val();
                const words = document.getElementById(selected_department).textContent;
                const words2 = document.getElementById(selected_department).textContent;
                const split = words.split(' ');
                // split2 zerlegt string in listenelemente getrennt durch den doppelpunkt, um department zu bekommen
                const split2 = words2.split(':');
                $('#shipping_department').html(split2[0]);

                // mit clothes bekommen wir die Gesamtanzahl an bestellten Kleidungsstücken
                const clothes = document.getElementById('clothes_number').innerText;
                // daraus bestimmen wir die Versandkosten, je nach Kleidungsstückanzahl
                if (clothes < 5) {
                    var price = split[split.length - 6];
                } else if (clothes >= 5 && clothes < 10) {
                    var price = split[split.length - 4];
                } else {
                    var price = split[split.length - 2];
                }

                const price_string = price + " Bs.";
                $('#shipping_price').html(price_string);

                const total_price = parseInt({{order.get_total}}) + parseInt(price);
                const total_price_string = total_price + " Bs.";
                $('#total_price').html(total_price_string);

            $('#id_chosen_department').change(function(){
                const selected_department = $("#id_chosen_department :selected").val();
                const words = document.getElementById(selected_department).textContent;
                const words2 = document.getElementById(selected_department).textContent;
                const split = words.split(' ');
                // split2 zerlegt string in listenelemente getrennt durch den doppelpunkt, um department zu bekommen
                const split2 = words2.split(':');
                $('#shipping_department').html(split2[0]);

                // mit clothes bekommen wir die Gesamtanzahl an bestellten Kleidungsstücken
                const clothes = document.getElementById('clothes_number').innerText;
                // daraus bestimmen wir die Versandkosten, je nach Kleidungsstückanzahl
                // zuerst wird Variable mit höchstem Preis initialisiert
                var price = split[split.length - 2];
                if (clothes < 5) {
                    var price = split[split.length - 6];
                } else if (clothes >= 5) {
                    var price = split[split.length - 4];
                }

                const price_string = price + " Bs.";
                $('#shipping_price').html(price_string);

                const total_price = parseInt({{order.get_total}}) + parseInt(price);
                const total_price_string = total_price + " Bs.";
                $('#total_price').html(total_price_string);
            });
        });






</script>

{% endblock extra_scripts %}
